# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Dataset
datasets/*
!datasets/koi/
datasets/koi/*
!datasets/koi/instruction.txt
koi.annotation.v1.yolov11/

# Models
models/*.pt
models/*.onnx

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
logs/

# OS
.DS_Store

# models
models/raw/

# train folder
runs/
