# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Dataset
datasets/

# Models
models/*.pt
models/*.onnx

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
logs/

# OS
.DS_Store

# models
models/raw/